@import "tailwindcss";

@theme {
  --font-gadugi: Gadugi, sans-serif;
}

@font-face {
  font-family: Gadugi;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("../../assets/fonts/gadugi.ttf") format("truetype");
}

