@import "tailwindcss";

@font-face {
  font-family: "Gadugi";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/gadugi.ttf") format('truetype');
}

@theme {
  --font-sans: "Gadugi", sans-serif;
}

@layer base {
  html {
    @apply scroll-smooth
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-2xl;
  }
  
  body {
    background-color: black;
    background-image: url('../background/full-background.png') ;
    background-size: cover;
  }
}


